<html>
<body>

<p>Hello.</p>

<p>You're receiving this message because someone used your email to register at 
<a href="https://api.nanfengpo.co/">nanfengpo</a>.</p>

<p><a href="https://api.nanfengpo.co/#cred?method=email&code={{.Code}}">Click</a> to confirm
or go to 
<a href="https://api.nanfengpo.co/#cred?what=email">https://api.nanfengpo.co/#cred?method=email</a>
(you may need to enter login and password) and enter the following code:</p>
<blockquote>{{.Code}}</blockquote> 

<p>If you did not register at nanfengpo just ignore this message.</p>

</body>
</html>